.footer-container {

}
.footer-container ul li{
    display: block;
    min-width: 200px;
    margin: 5px;
}
.footer-container ul li:hover{
    border-bottom: 1px solid white;
    border-radius: 50px;
    text-align: center;
    transition: all 0.8s;
}